{# base/index.html #}

{% load static %}

<!DOCTYPE html>
<html lang="en"> 
<head>
    <link rel="stylesheet" href="{% static 'tasks/app.css' %}">
</head>
<body>

    {% block page_content %}
    {% endblock %}

        
</body>    
</html>