{# base/index.html #}
{% load static %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mytodolist</title>
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'tasks/app.css' %}">
</head>

<body>
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="responsive-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">My Todo List</li>
      <li class="has-submenu">
        <a href="{% url 'list' %}">My Tasks</a>
      </li>
      <li><a href="{% url 'add' %}">Add task</a></li>

    </ul>
  </div>
  <div class="top-bar-right">
    <form action="{% url 'list'%}">
      <ul class="menu">
    
      <li><input name="q" type="search" placeholder="Search" 
        value={{tasks_q}}></li>
      <li><button type="button" class="button">Search</button></li>
    
    </ul>
    </form>
  </div>
</div>


    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell">
                {% block page_content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/vendor/what-input.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.js' %}"></script>
    <script src="{% static 'tasks/app.js' %}"></script>
</body>

</html>