{# tasks/task_list.html #}

{% extends 'tasks/base-style.html' %}

{% block page_content %}
    <h1>Tasks - List View.</h1>

    <ul>
    {% for task in task_list %}
        <li> 
            <a href="{% url 'details' task_id=task.id %}">{{ task.title }}</a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
