{# tasks/task_list.html #}

{% extends 'tasks/base-style.html' %}

{% block page_content %}
    <h1>{{task.title}}.</h1>

    <p> {{task.description}}</p>

    <p>Priority: {{task.get_priority_display}}</p>
    
    <p>Deadline: {{task.deadline}}</p>


    <a href="{% url 'edit' task_id=task.id %}" class="button">Edit</a>
    <a href="{% url 'delete' task_id=task.id %}" class="button alert">Delete</a>
{% endblock %}
