{# tasks/task_edit.html #}

{% extends 'tasks/base-style.html' %}

{% block page_content %}
    <h1>Tasks - Edit View.</h1>

    <form action="{% url 'edit' task_id=task.id%}" method="post">
    {% csrf_token %}
    
    {{form.as_p}}
    
    <input type="submit" class="button" value="Save">
    </form>

{% endblock %}
