{# tasks/task_list.html #}

{% extends 'tasks/base-style.html' %}

{% block page_content %}
    <h1>Tasks - Delet View.</h1>

    <p>Da li si siguran?</p>

    <form action="{% url 'delete' task_id=task.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" class="button alert" value="Delete">
    </form>


{% endblock %}
