{# carsapp/base.html #}
{% load staticfiles i18n static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'carsapp/app.css' %}">
    <title>{%block title %} Used cars site{% endblock %}</title>
</head>

<body>
    <header>
        HEADER
    </header>
    {% block page_content %}
    {% endblock %}
    <footer>
        FOOTER
    </footer>
</body>

</html>