{# carsapp/car_edit.html #}

{% extends 'carsapp/base.html' %}

{% block title %}
carsapp
{% endblock %}



{% block page_content %}
{% if add_new %}
<h1>Car Add view.</h1>
{% else %}
<h1>Car Edit view.</h1>
{% endif %}

<form action="" method="post" novalidate>
    {% csrf_token %}

    {{form.as_p}}

    <input type="submit" value="submit">

</form>


{% endblock %}