{# carsapp/car_list.html #}

{% extends 'carsapp/base.html' %}

{% block title %}
carsapp
{% endblock %}


{% block page_content %}
<h1>Car List view.</h1>

<ul>
{% for car in cars %}
    <li>
    <a href="{% url 'car_details' car_id=car.id %}">{{car.title}}</a>
    </li>

{% endfor %}
</ul>

<p>
    <a href="{% url 'car_add' %}">Add new car</a>
</p>



{% endblock %}