{# carsapp/car_details.html #}

{% extends 'carsapp/base.html' %}

{% block title %}
carsapp
{% endblock %}


{% block page_content %}
<h1>Car Details view.</h1>

<p> Title: <strong>{{car.title}}</strong> </p>
<p> Company: <strong>{{car.company}}</strong> </p>
<p> Year: <strong>{{car.year}}</strong> </p>
<p> Engine type: <strong>{{car.get_engine_type_display}}</strong> </p>


<p>
    <a href="{% url 'car_edit' car_id=car.id %}">Edit</a>
</p>
<p>
    <a href="{% url 'car_delete' car_id=car.id %}">Delete</a>
</p>

<p>
    <a href="{% url 'car_list' %}">Back to list</a>
</p>


{% endblock %}